# ALERT MAIL CONFIG
#
# set enabled=1 to send mail
enabled=0
#enabled=1

# set smtp server address and port 
# server=smtpa.kolumbus.fi
server=smtp4.nettihotelli.fi
port=465

# set smtp mailbox address and password from which messages will be sent
# from_addr=han-posti@elisanet.fi
from_addr=han-alerts@tietoveikot.fi
password=ml/g2Fqr8!E6

# set alert mail target address
#to_addr=piispve@outlook.com
#password=Hanuristi
to_addr=vesa.piispa@tietoveikot.fi

# set alert trigger values
cpu_hot=45
pcb_hot=28
env_hot=25
env_cold=0

# set temperature hysteresis
hysteresis=2
